<h1>Listing events</h1>

<table>
  <tr>
    <th>Titel</th>
    <th>Location</th>
    <th>Description</th>
    <th>Starttime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td> 
		<ul>
			<li><%= event.location[:street] %></li>
			<li><%= event.location[:postal_code] %></li>
			<li><%= event.location[:city] %></li>
			<li><%= event.location[:contry] %></li>
		</ul>
	</td>
    <td><%= event.description %></td>
    <td><%= event.event_time %></td>
  </tr>
<% end %>
</table>
