<h1>Single event</h1>
<h2><%= @event.title %></h2>
<ul>
    <li><%= @event.location[:street] %></li>
    <li><%= @event.location[:postal_code] %></li>
    <li><%= @event.location[:city] %></li>
    <li><%= @event.location[:contry] %></li>
    <td><%= @event.description %></li>
    <td><%= @event.event_time %></li>
</ul>
